@import 'nib'
@font-face {
	font-family: 'iconos';
	src:url('../fonts/icomoon.eot?-etyqoi');
	src:url('../fonts/icomoon.eot?#iefix-etyqoi') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-etyqoi') format('woff'),
		url('../fonts/icomoon.ttf?-etyqoi') format('truetype'),
		url('../fonts/icomoon.svg?-etyqoi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
option
	font-size 16px
input,select,button
	font-size 20px !important
	height 50px !important
body
	font-size 16px !important
	max-width: 1366px;
	margin: 0 auto !important;
	float: none !important;
	background black

.especial
	margin 0
	padding 0
	background black
.img-responsive
	max-width: 90%;
.navbar-default
	background #055377 
	margin-bottom 0
	border: 0;
	border-radius: 0;
	
.imagen
	padding: 20px;
	margin-left: 40px;

.navbar-right
	margin-top: 40px;
	margin-right: 90px;

.navbar-default .navbar-nav > li > a
	color: white;
	font-size: 1.2em;
	&:hover
		color: white;
		background #838DC6
.centro
	width: 100%;
	height: 400px;
	
.uno
	background: #084B8A none repeat scroll 0% 0%;
	color: #FFF;
	height: 100px;
	padding-top: 30px;
	
	span
		font-size: 30px;
		margin-left: 90px;

.dos
	background: #8A0808 none repeat scroll 0% 0%;
	color: #FFF;
	height: 140px;
	padding-top: 30px;
	
	span
		font-size: 30px;
		margin-left: 90px;
		
	h4
		margin-left: 90px;
		color #A4A4A4
.row
	background rgb(32, 69, 105) none repeat scroll 0% 0%
	margin 0

.center
	text-align center
	margin: 40px 0px 60px 0px;
	
	h2
		font-weight bold
		color white
		
.media-objet
	width 70px
	
.media-body 
	margin-bottom 50px
	h4 
		font-size 20px
		color white
		
	span
		color #938282
		
.col-lg-4
	margin-bottom 80px
	
footer
	background black
	height 150px
	text-decoration none
	display inline-block
	width 100%
	box-sizing: border-box;
	
	.privado
		display: flex;
		margin-top 1em
		width: 100%;
		align-items: center;
		justify-content space-between
		box-sizing: border-box;
		padding 0 70px
		span
			font-size 16px
			color white
			font-family arial
	.redes
		span
			box-sizing: border-box;
			font-size 28px
			color grey
			font-family iconos
			padding 10px
	.more
		display: flex;
		width: 100%;
		justify-content space-between
		align-items center
		box-sizing: border-box;
		padding 0 70px
		.web
			a
				font-size 16px
				padding .5em
				text-decoration underline
				text-decoration-style dotted
				color grey
				&:hover
					color #337ab7
		span
			font-size 16px
			color white
			font-family arial
	.tel
		a
			font-size 16px
			padding .5em
			text-decoration none
			box-sizing: border-box;
			color grey
			&:hover
				color #337ab7
			&:before
				padding .2em
				color grey
				font-family iconos
				content '\e800'
		span
			color grey
			font-size 16px
			&:before
				padding-left .5em
				color grey
				font-family iconos
				content '\e10d'

.info
	z-index: 9999;
	width: 420px;
	position: absolute;
	left 65%
	height: 650px;
	background: black none repeat scroll 0% 0%;
	text-align: center;
	background-color: rgba(8, 7, 7, 0.6)
	top 0
	padding-top 40px
	h3
		font-size 20px
		color white
	
.titulo
	color: white;
	font-size: 30px;
	font-weight: bold;
form
	padding: 10px;
	

.form-group
	width: 350px;
	
.form-control
	margin 30px 10px 
	
.btn-default
	background-color: rgb(30, 174, 77);
	border-color: #CCC;
	width: 100%;
	margin: 10px;
	color: rgb(255, 255, 255);
	font-size: 18px;
	
.llamada
	color: white;
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	margin-top 5px
	
.imagen-centro
	width: 100%;
	height: 400px;
	
.red
	font-family: iconos;
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
	font-size: 25px;
	
	span
		margin-right: 20px;
		
.envoltura
	padding 0
	background-img url(../imagenes/palma.jpg)
	
@media only screen and (max-width:1200px)

	.uno
		span
			margin-left .5em
	.dos
		span
			margin-left .5em
@media only screen and (max-width:1100px)

	.uno
		span
			font-size 25px
	.dos
		span
			font-size 25px
	.info
		left 60%
		height 600px
		.titulo
			font-size 25px
		h3
			font-size 16px
@media only screen and (max-width:950px)

	.form-group
		width initial !important
		display flex !important
		flex-direction column !important
		flex-wrap wrap !important
		align-items center !important
		input,select
			margin .4em !important
			padding .5em !important
			width 80% !important
			font-size 16px !important
		
		button
			font-size 16px !important
			width auto
			
	.info
		height 480px !important
		width auto  !important
		padding-top 10px !important
		left 65%
		form
			padding 0px  !important
		
@media only screen and (max-width:880px)
	.uno,.dos
		margin 0
		text-align center
	.img-responsive
		height: 500px;
		max-width 100%
	.info
		left 0px
		height 100% !important
		width 100% !important
@media only screen and (max-width:856px)
	.more
		display block !important
		text-align center !important
		margin-top 1em
@media only screen and (max-width:560px)
	footer
		height 210px
		.privado
			display block !important
			text-align  center 
		.tel
			a
				display block !important
			span
				display block !important
@media only screen and (max-width:600px)
	.uno,.dos
		span
			font-size 22px !important
		h4
			margin 0
	.center
		h2
			font-size 25px !important
@media only screen and (max-width:450px)
	footer
		height 240px
		.more
			margin 0 !important
			padding 0 !important
			.web
				span
					display none
	
@media only screen and (max-width:390px)
	.center
		h2
			font-size 20px !important
	.uno,.dos
		span
			font-size 20px !important
		h4
			font-size 18px !important
			margin 0
@media only screen and (max-width:795px)
	
	.navbar-right
		margin-right 0