@import 'nib'
@font-face {
	font-family: 'iconos';
	src:url('../fonts/icomoon.eot?-etyqoi');
	src:url('../fonts/icomoon.eot?#iefix-etyqoi') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-etyqoi') format('woff'),
		url('../fonts/icomoon.ttf?-etyqoi') format('truetype'),
		url('../fonts/icomoon.svg?-etyqoi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

input,select,button
	font-size 20px !important
	height 50px !important
body
	font-size 16px !important
	max-width: 1366px;
	margin: 0 auto !important;
	float: none !important;
.especial
	margin 0
	padding 0
	background black
.img-responsive
	max-width: 90%;
.navbar-default
	background #055377 
	margin-bottom 0
	border: 0;
	border-radius: 0;
	
.imagen
	padding: 20px;
	margin-left: 40px;

.navbar-right
	margin-top: 40px;
	margin-right: 90px;

.navbar-default .navbar-nav > li > a
	color: white;
	font-size: 1.2em;
	&:hover
		color: white;
		background #838DC6
.centro
	width: 100%;
	height: 400px;
	
.uno
	background: #084B8A none repeat scroll 0% 0%;
	color: #FFF;
	height: 100px;
	padding-top: 30px;
	
	span
		font-size: 30px;
		margin-left: 90px;

.dos
	background: #8A0808 none repeat scroll 0% 0%;
	color: #FFF;
	height: 140px;
	padding-top: 30px;
	
	span
		font-size: 30px;
		margin-left: 90px;
		
	h4
		margin-left: 90px;
		color #A4A4A4
.row
	background rgb(32, 69, 105) none repeat scroll 0% 0%
	margin 0

.center
	text-align center
	margin: 40px 0px 60px 0px;
	
	h2
		font-weight bold
		color white
		
.media-objet
	width 70px
	
.media-body 
	margin-bottom 50px
	h4 
		font-size 20px
		color white
		
	span
		color #938282
		
.col-lg-4
	margin-bottom 80px
	
footer
	background black
	height 150px
	text-decoration none
	
.privado
	margin-left: 70px;
	margin-right: 1px;
	&:after
		content " | "
		
.right
	float: right;
	margin-right: 70px;
	top: -40px;
	position: relative;

.mail
	margin-right: 30px;
	color white
	text-decoration: none;
	margin-left: 10px;
	
	&:before
		padding: 10px;
		font-family iconos
		content "\e800"
.tel
	margin-right: 30px;
	color white
	&:before
		padding: 10px;
		font-family iconos
		content "\e10d"

.copy
	margin: 0px 0px 10px 70px;
	font-size: 15px;
	color: white;
	padding-top 50px
	
.info
	z-index: 9999;
	width: 420px;
	position: absolute;
	left: 850px;
	height: 650px;
	background: black none repeat scroll 0% 0%;
	text-align: center;
	background-color: rgba(8, 7, 7, 0.6)
	top 0
	padding-top 40px
	h3
		font-size 20px
		color white
	
.titulo
	color: white;
	font-size: 30px;
	font-weight: bold;

form
	padding: 10px;
	

.form-group
	width: 350px;
	
.form-control
	margin 30px 10px 
	
.btn-default
	background-color: rgb(30, 174, 77);
	border-color: #CCC;
	width: 100%;
	margin: 10px;
	color: rgb(255, 255, 255);
	font-size: 18px;
	
.llamada
	color: white;
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	margin-top 5px
	
.imagen-centro
	width: 100%;
	height: 400px;
	
.red
	font-family: iconos;
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
	font-size: 25px;
	
	span
		margin-right: 20px;
		
.envoltura
	padding 0
	background-img url(../imagenes/palma.jpg)
	

@media (max-width: 768px)
	.uno
		span
			font-size 25px
	.dos
		span
			font-size 25px
	
	.info		
		left: 320px;
		height: 420px;
		
@media (max-width: 980px)
	
	.info		
		left: 520px;
		height: 420px;
		
@media (max-width: 800px)
	
	.info		
		left: 350px;
		height: 420px;
		
				
@media (max-width: 360px)
	
	.uno
		height: 110px;
		span
			margin 0			
			font-size 17px
	.dos
		span
			margin 0
			font-size 18px
		h4
			margin 0
			font-size 14px
	.info		
		left: 0px;
		width: 330px;
		
	footer
		height: 200px;
		
	.copy
		padding-top 10px
	.privado
		margin-right: 1px;
		margin-left: 50px;
	.right
		margin-right: 40px;
		float: none
		top: 0
		position: initial 
	.atencion
		text-align: center;
	.mail
		margin-right: 0
		width: 100%;
		display: inline-block;
		
	.form-group
		width: 300px;
	.titulo
		font-size: 35px;
		margin-right: 40px;
	.info	
		h4
			margin-right: 40px;
			font-size: 16px;
		