<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Demo
		link(rel="stylesheet" href="./public/css/index.css")
		script(src = "./public/js/bootstrap.min.js")
	body
		nav.navbar.navbar-default
			div.container-fluid
				div.navbar-header
					img.imagen(src="./public/imagenes/logo-dark.png" alt="...")
					button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#demo" aria-expanded="false")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				div.collapse.navbar-collapse#demo
					ul.nav.navbar-nav.navbar-right
						li
							a(href="#") Inicio 
						li
							a(href="#") Características de la Maestría
		div.row
			div.col-lg-12.especial
				img.img-responsive(src="./public/imagenes/palma.jpg" alt="...")
				div.info
					span.titulo SOLICITA INFORMACIÓN
					h3 y prueba nuestra plataforma educativa
					form(role="form")
						div.form-group
							input(type="text" placeholder="Nombre" class="form-control")
							input(type="email" placeholder="Correo Electrónico" class="form-control")
							input(type="text" placeholder="Teléfono" class="form-control")
							select(type="text" name="estado" class="form-control")
								option(value="default") Selecciona Tu estado
								option(value="Aguascalientes") Aguascalientes
								option(value="Baja California") Baja California
								option(value="Baja California Sur") Baja California Sur
								option(value="Campeche") Campeche
								option(value="Chiapas") Chiapas
								option(value="Chihuahua") Chihuahua
								option(value="Coahuila") Coahuila
								option(value="Colima") Colima
								option(value="Distrito Federal") Distrito Federal
								option(value="Durango") Durango
								option(value="Estado de México") Estado de México
								option(value="Guanajuato") Guanajuato
								option(value="Guerrero") Guerrero
								option(value="Hidalgo") Hidalgo
								option(value="Jalisco") Jalisco
								option(value="Michoacán") Michoacán
								option(value="Morelos") Morelos
								option(value="Nayarit") Nayarit
								option(value="Nuevo León") Nuevo León
								option(value="Oaxaca") Oaxaca
								option(value="Puebla") Puebla
								option(value="Querétaro") Querétaro
								option(value="Quintana Roo") Quintana Roo
								option(value="San Luis Potosí") San Luis Potosí
								option(value="Sinaloa") Sinaloa
								option(value="Sonora") Sonora
								option(value="Tabasco") Tabasco
								option(value="Tamaulipas") Tamaulipas
								option(value="Tlaxcala") Tlaxcala
								option(value="Veracruz") Veracruz
								option(value="Yucatán") Yucatán
								option(value="Zacatecas") Zacatecas
							button(type="submit" class="btn btn-default") SOLICITAR INFORMACIÓN
							span.llamada Llamanos sin costo al: 01 800 286 84 64
			div.uno.col-lg-12 
				span Maestría en Administración y Políticas Públicas
			div.dos.col-lg-12 
				span Aplica a la Beca Laswell para Servidores Públicos
				h4 Convocatoria abierta hasta el 31 de Agosto de 2015
			div.col-lg-12.center
				h2 Características de la Maestría en Línea 
			div.container
				div.col-lg-4
					div.media
						div.media-left
							img.media-objet(src="./public/imagenes/flexibilidad.png" alt="...")
						div.media-body
							h4.media-heading Flexibilidad en línea
							span La maestria se cursa completamente a distancia.Podras organizar y decicir tus tiempos de estudio sin afectar tus actividades laborales.
				div.col-lg-4
					div.media
						div.media-left
							img.media-objet(src="./public/imagenes/innovacion.png" alt="...")
						div.media-body
							h4.media-heading Innovación Tecnológica
							span Los cursos estan diseñado en una platafroma de educación
									|con lecciones y presentaciones interactivas con audio y video.
				div.col-lg-4
					div.media
						div.media-left
							img.media-objet(src="./public/imagenes/modelo_educativo.png" alt="...")
						div.media-body
							h4.media-heading Modelo Educativo
							span Nuestras materias están diseñadas para compartir conocimiento
									|práctico y aplicable a la experiencia profesional a través de 
									|casos reales de política pública.
				div.col-lg-4
					div.media
						div.media-left
							img.media-objet(src="./public/imagenes/tiempo.png" alt="...")
						div.media-body
							h4.media-heading Duración de la Maestría
							span La Maestría en Administración y Políticas Públicas está
									|diseñada para cursarse en sólo 15 meses.
				div.col-lg-4
					div.media
						div.media-left
							img.media-objet(src="./public/imagenes/docentes.png" alt="...")
						div.media-body
							h4.media-heading Docentes Experimentados
							span Aprenderás de docentes con experiencia profesional 
									|en gobierno y políticas públicas y con sólida formación
									|académica.
				div.col-lg-4
					div.media
						div.media-left
							img.media-objet(src="./public/imagenes/atencion.png" alt="...")
						div.media-body
							h4.media-heading Atención Personalizada
							span Durante toda tu experiencia de aprendizaje, nuestro
									|equipo docente tutores y el área de atención a alumnos,   
									|te brindarán atención personalizada y seguimiento constante.  

	footer
		div.privado
			span IEXE © Todos los derechos reservado 2014 - 2015
			div.redes
				span &#xe802;
				span &#xe803;
				span &#xe801;
				span &#xe804;

		div.more
			div.web
				a(href="#") Aviso de Privasidad
				span |
				a(href="#") www.iexe.edu.mx
			div.tel
				a(href="#") atencion.alumnos@iexe.edu.mx

				span 01 800 286 84 64

